[user]
	name = Takeshi Itami
	email = tksh.itm@gmail.com
[alias]
	co = checkout
	br = branch
	cm = commit
	st = status
	df = diff
	fpush = push
	amend = commit
	last = log -1 HEAD
[pager]
	branch = false
[core]
	editor = nvim
