[user]
	name = Takeshi Itami
	email = tksh.itm@gmail.com
[alias]
	amend = commit --amend --no-edit
	br = branch
	cm = commit
	co = checkout
	df = diff
	fpush = push
	last = log -1 HEAD
	st = status
  ps = push
[pager]
	branch = false
[core]
	editor = nvim
