@theme "catppuccin"
configuration {
  show-icons: true;
  run,drun {
    fallback-icon: "application-x-addon";
  }
  font: "Fira Sans 11";
  display-drun: "";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
}
