* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Fira Code", "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "monospace";
  font-size: 14.5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

tooltip {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

tooltip label {
  color: #fff;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 15px;
}

window#waybar {
  color: #D7DCDD;
  background-color: rgba(0, 0, 0, 0.4);
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  color: #D7DCDD;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: none;
  text-shadow: none;
  border: none;
  background: inherit;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border: none;
}

#workspaces button.urgent {
  color: #f53c3c;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-powermenu,
#custom-poweroff,
#custom-sleep,
#custom-reboot,
#custom-recording {
  padding: 0 10px;
}

#custom-recording {
  font-size: 20px;
  color: #f53c3c;
}

#custom-powermenu {
  font-size: 25px;
  margin-right: 10px;
}

#custom-poweroff, #custom-sleep, #custom-reboot {
  font-size: 20px;
  margin-right: 10px;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#temperature.critical {
  color: #f53c3c;
}
