/** common */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "FiraCode Nerd Font", "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "monospace";
  font-size: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

tooltip {
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

tooltip label {
  color: #fff;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 15px;
}

/** bar */

window#waybar {
  color: #3E3D3F;
  background-color: #E1E4DC;
  border-radius: 80px;
  border: 1px solid #C0C3BD;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  box-shadow: none;
  text-shadow: none;
  border: none;
  background: inherit;
}

#custom-powermenu {
  font-size: 24px;
  margin: 0 10px 0 20px;
  color: #3E3D3F;
}

#workspaces {
  background-color: #D1D3CC;
  padding: 0 22px;
  margin: 4px 20px;
  border-radius: 20px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border: none;
  color: #C0C3BD;
}

#workspaces button.active {
  color: #3E3D3F;
}

#workspaces button.urgent {
  color: #f53c3c;
}

/** section 1 */
#tray {
  background-color: #D1D3CC;
  margin: 4px 10px;
  padding: 0 20px;
  border-radius: 15px;
}

/** section 2 */
#network {
  background-color: #D1D3CC;
  padding: 0 10px 0 20px;
  margin: 4px 0px;
  border-radius: 20px 0px 0px 20px;
}

#battery {
  background-color: #D1D3CC;
  padding: 0 10px;
  margin: 4px 0px;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
}

#temperature {
  background-color: #D1D3CC;
  padding: 0 20px 0 10px;
  margin: 4px 0px;
  border-radius: 0px 20px 20px 0px;
}

#temperature.critical {
  color: #f53c3c;
}

/** section 3 */
#cpu {
  background-color: #D1D3CC;
  padding: 0 10px 0 20px;
  margin: 4px 0px 4px 10px;
  border-radius: 20px 0px 0px 20px;
}

#memory {
  background-color: #D1D3CC;
  padding: 0 10px;
  margin: 4px 0px;
}

#disk {
  background-color: #D1D3CC;
  padding: 0 20px 0 10px;
  margin: 4px 0px;
  border-radius: 0px 20px 20px 0px;
}

/** section 4 */
#pulseaudio {
  background-color: #D1D3CC;
  padding: 0 20px;
  margin: 4px 10px;
  border-radius: 20px;
}

/** section 5 */
#clock {
  margin: 0 20px 0 10px;
}

#custom-recording {
  font-size: 20px;
  color: #f53c3c;
  padding: 0 20px;
}
